body{
    background-color: rgb(208, 212, 212);
}
form{
    background-color : grey;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    
}

/* spécial Quentin */
.reponses{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid;
        border-radius: 25px;
}
